* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* width: 80%; */
  align-items: center;
  font-family: serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
}

li {
  margin-top: 10px;
}

.grid {
  display: grid;
  justify-content: center;
}

.full {
  justify-content: center;
  display: flex;
  width: 100vw;
  border: 2px solid black;
}



.profile {
  background-color: #333f50;
  display: flex;

  width: 40%;
  padding-top: 12px;
  padding-left: 12px;
  color: white;

  flex-direction: column;
  .image-area {
    
    display: grid;
    justify-content: center;
    align-items: center;

    img {
      height: 170px;
      width: 170px;
      border-radius: 50%;
      margin-left: 15px;
    }
  }

  .contact-area {
    width: 100%;
    p {
      margin-top: 10px;
    }
    i {
      margin-right: 6px;
    }
  }

  .skills,
  .languages,
  .hobbies {
    margin-top: 20px;
  }
  .line-left {
    height: 1px;
    width: full;
    background-color: white;
    margin-right: 10px;
  }
}

.qualifications {
  width: 60%;

  justify-content: center;
  flex-direction: column;
  margin: 0px 20px 0 12px;

  .horizontal-block {
    height: 3vh;
    width: 26vw;
    margin-left: 35vw;
    background-color: #333f50;
    position: relative;
  }

  /* .vertical-block{
    height: 230px;
    width: 20px;
    background-color: #333f50;
    display: inline-block;
    margin-left: 20px;
  } */

  .line-right {
    height: 1.5px;
    width: full;
    margin-right: 0px;
    background-color: black;
  }
  .summary p {
    text-align: justify;
  }
  .summary,
  .projects,
  .workshop,
  .education {
    margin-top: 40px;
  }


.tribhuwan h4 {
  display: inline-block;
  margin-right: 20vw;
}
.universal h4 {
  display: inline-block;
  margin-right: 23vw;
}
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
  }
  .full {
    display: flex;
    flex-direction: column;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .profile,
  .qualifications {
    width: 100% !important;
  }
  .qualifications {
    padding-right: 15px;
  }
  .horizontal-block {
    display: none;
  }
  .image
}
